<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Informações</h5>
        <p align="justify" class="white-text">Este software é resultado de um trabalho de conclusão do curso de Engenharia de Software na Universidade de Brasíla. Foi produzido por Nicácio Arruda Bezerra Neto, sob a supervisão de Glauco Vitor Pedrosa</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Código Fonte</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/Nicacioneto/get_twitter_data">Coletor de dados</a></li>
          <li><a class="white-text" href="https://github.com/Nicacioneto/bitcoin_sentimental_analisys">Analisador de sentimento</a></li>
          <li><a class="white-text" href="https://github.com/Nicacioneto/sentimental_graph">Aplicação Web</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contato</h5>
        <ul>
          <li><a class="white-text" href="#!">nicacionetobsb@gmail.com</a></li>
          <li><a class="white-text" href="#!">glaucovitor@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
