<nav class="light-blue darken-3" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/graphs">Gráficos</a></li>
      <li><a href="https://github.com/Nicacioneto/bitcoin_sentimental_analisys">Contribua</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
