
<body>
  <h4>Gráficos de Análise de Sentimento</h4>
<div class="Indicador">
  <br>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/18.embed"></iframe>
  <br>
</div>

<div class="Positivos">
  <br>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/26.embed"></iframe>
  <br>
</div>

<div class="Negativos">
  <br>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/28.embed"></iframe>
  <br>
</div>
</body>
