
<body>
  <h1>Análise de Sentimento do Bitcoin</h1>
<div class="Indicador">
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/18.embed"></iframe>
</div>

<div class="Positivos">
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/26.embed"></iframe>
</div>

<div class="Negativos">
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/28.embed"></iframe>
</div>
</body>
