
<body>
<h4>Gr치ficos de An치lise de Sentimento - Tempo Real</h4>
<div class="Positivos">
  <br>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/58.embed"></iframe>
  <br>
</div>

<div class="Negativos">
  <br>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/63.embed"></iframe>
  <br>

  <h4>Gr치ficos de An치lise de Sentimento - Passado</h4>

  <div class="Candlestick">
    <br>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/18.embed"></iframe>
    <br>
  </div>

  <div class="Indicador">
    <br>
      <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/24.embed"></iframe>
    <br>
  </div>

  <div class="Positivos">
    <br>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/26.embed"></iframe>
    <br>
  </div>

  <div class="Negativos">
    <br>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~Nicacioneto/28.embed"></iframe>
    <br>
  </div>

</body>
