

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center light-blue-text">Crypto Sentiment Analyzer</h2>
    <div class="row center">
      <h5 class="header col s12 light">Uma ferramenta de Análise Sentimento do Twitter para criptomoedas</h5>
    </div>
    <div class="row center">
      <a href="http://localhost:3000/graphs" id="download-button" class="btn-large waves-effect waves-light light-blue darken-3">Gráficos</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><%= image_tag("vader.png", :size => '60x60') %></h2>
          <h5 class="center">Vader Sentiment</h5>

          <p align="justify" class="light">Desenvolvido utilizando o léxico Vader, o melhor léxico para aferição de sentimento no Twitter.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><%= image_tag("real_time.png", :size => '60x60')%></h2>
          <h5 class="center">Real Time</h5>

          <p align="justify" class="light">Serviço de atualização do sentimento em tempo real, utilizando como período mínimo 60 minutos.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><%= image_tag("plotly.png", :size => '60x60') %></h2>
          <h5 class="center">Plotly</h5>

          <p align="justify" class="light">Gráficos públicos, criados e hospedados a partir da biblioteca Plotly, facilitando o compartilhamento e a incorporação por meio de outros apps.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
